// new year theme
$classic-base-color: #fae451;         // Midnight Express
$classic-primary-color: #ffffff;      // White
$classic-secondary-color: #afff78;    // Pattens Blue
$classic-highlight-color: #ff8869;    // Summer Sky

@import 'application';
